<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Bear</title>
  </head>
<body>
  <h1>New Bear</h1>
  <form action="/bears" method="POST">
    <p>Name: <input type="text" name="name"></p>
    <p><input type="submit" value="Create"></p>
  </form>
  <p><a href="/">Home</a></p>
</body>
</html>